
ul,li{
    list-style: none;
}
a{
   text-decoration: none;
}

//定义变量
$bgColor: #f9f9f9;
$navfontColor: #676767;
$searchColor:#9A9A9A;
$borderColor:#DDDDDD;
$btnColor:#EEEEEE;
$resetBtnColor:#A1ABC2;
$lightGrayColor:#F1F1F1;
$trangleColor:#CCCCCC;
$blueDarkColor:#D6EFF8;

$mainColor:#383D4C;
$subMainColor:#57607C ;
$blueColor:#30ADDC ;

$greenLightColor:#81C884;
$redLightColor:#FD7A70;
$blackLightColor:#9A9A9A;
$yellowLightColor:#FDD24F;
$purpleLightColor: #9574CD;