
<div class="mainwrap">
    <div class="header"><span>系统管理</span>><span>系统人员信息</span></div>
    <form class="main-choose-list overflowH">
		<!--搜索-->
        <div class="search-wrap ">
            <span class="icon-icon_search" ></span><input name="vague" type="text" class="form-control" placeholder="用户名"/>
        </div>
        <!--按钮列-->
        <button type="button" class="btn btn-info searchBtn">查询</button>
		<button type="button" class="btn btn-info " id="addModelShow"> 添加</button>
	</form>
		
    <div class="main">
        <!--表格列表-->
        <table class="table table-striped table-hover table-bordered"  align="center">
            <thead>
                <th width="13%">用户名</th>
                <th width="13%">所属级别</th>
                <th width="13%">手机号</th>
                <th width="35%">所属小区</th>
                <th width="13%">密码</th>
                <th width="13%">操作</th>
            </thead>
            <tbody id="tbody">
            	
            </tbody>
        </table>
        <div class="page">
            <div class="pageWrap">
				<ul class="pagination">
					<li class="Previous">
						<span aria-hidden="true">&laquo;</span>
					</li>
					
					<li class="Next">
						<span aria-hidden="true">&raquo;</span>
					</li>
				</ul>
				<span>共0条数据</span>
			</div>
        </div>
    </div>
</div>

<!-- add弹框-->
<div class="modal fade" id="addUserModel" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-minWidth">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="gridSystemModalLabel">添加系统人员信息</h5>
      </div>
      <div class="modal-body modelStyle">
      	<form id="addForm">
	        <!--<div class="row">
				  <div class="col-md-12">系统人员信息</div>
			  </div>-->
			  <div class="row ">
				  <div class="col-md-3 child"><strong>*</strong>用户名</div>
				  <div class="col-md-9"><input name="UserName" class="form-control" type="text" maxlength="5" /></div>
			  </div>
			  <div class="row ">
				  <div class="col-md-3 child"><strong>*</strong>手机号</div>
				  <div class="col-md-9"><input name="UserPhone" class="form-control" type="text" maxlength="11" /></div>
			  </div>
			<div class="row ">
				<div class="col-md-3 child"><strong>*</strong>所属小区</div>
				<div class="col-md-9">
					<select name="UserDisId" id="communitys" class="form-control">
						<option value=""></option>
					</select>
				</div>
			</div>
			  <div class="row ">
				  <div class="col-md-3 child"><strong>*</strong>所属级别</div>
				  <div class="col-md-9">
				  	   <select name="UserLevel" class="form-control">
<!--				  	   	    <option value="1">超级管理员</option>-->
				  	   	    <option value="2">系统管理员</option>
				  	   	    <option value="3">视频监控员</option>
				  	   </select>
				  </div>
			  </div>
			  <div class="row ">
			  	<div class="col-md-3 child"></div>
				 <div class="col-md-9 lightBlack" >提示：默认密码为88888888</div>
			  </div>
			 
        </form>
      </div>
      <div class="modal-footer">
      	<label id="prompts"></label>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-info " id="addModelBtn">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--确认删除框-->
<div class="modal fade bs-example-modal-sm" id="conformModel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content modal-exWidth">
			<div class="modal-body">
				<p><i class="icon-icon_jc_2_on  lightYellow"></i>您确定要删除么？</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm comformQiutBtn" data-dismiss="modal">放弃</button>
				<button type="button" class="btn btn-primary btn-sm comformSureBtn">确定</button>
			</div>
		</div>
	</div>
</div>

<!--用户信息编辑弹层 -->
<div class="modal fade" id="userInfoEditModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-minWidth">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">修改系统人员信息</h4>
			</div>
			<div class="modal-body modelStyle">
				<form id="addFormPass">
					<div class="row ">
						<div class="col-md-3 child">用户名：</div>
						<div class="col-md-8"><span id="userName" style="line-height: 30px;"></span></div>
					</div>
					<div class="row ">
						<div class="col-md-3 child">手机号：</div>
						<div class="col-md-8"><span id="userPhone"  style="line-height: 30px;"></span></div>
					</div>
					<div class="row ">
						<div class="col-md-3 child"><strong>*</strong>所属小区：</div>
						<div class="col-md-8"><select class="form-control" id="communitySelect" name="UserDisId">
							<option value=""></option>
						</select></div>
					</div>
					<div class="row ">
						<div class="col-md-3 child"><strong>*</strong>所属级别：</div>
						<div class="col-md-8"><select class="form-control" name="UserLevel">
							<option value="2">系统管理员</option>
							<option value="3">视频监控员</option>
						</select></div>
					</div>
					<div class="row ">
						<div class="col-md-3 child">是否重置密码：</div>
						<div class="col-md-8" style="line-height: 30px;"><input name="IsResetPwd"  type="radio" value="0" id="zt" checked/><label for="zt">否</label><input name="IsResetPwd" type="radio" value="1" id="ft"/><label for="ft">是</label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="lightBlack">提示：默认密码为88888888</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<label id="prompts1"></label>
				<button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" onclick="sureUserBtn()">确定</button>
			</div>
		</div>
	</div>
</div>
<!--列表模板-->
<script id="tbodyInfo" type="text/x-handlebars-template">
    {{#each this}}
    <tr>
        <td title="{{UserName}}">{{UserName}}</td>
        <td title="{{LevelName}}">{{LevelName}}</td>
        <td title="{{UserPhone}}">{{UserPhone}}</td>
        <td title="{{DisName}}">{{DisName}}</td>
        <td title="******">******</td>
        <td data-UserId="{{UserId}}" data-name="{{UserName}}" data-phone="{{UserPhone}}" id="userId"><i class="icon-icon_edit" title="修改用户信息" onclick="resetFun(this,'{{UserDisId}}')" data-target=""></i><i class="icon-icon_delete" title="删除" onclick="deleteIconFun(this)" data-target="#conformModel"></i></td>
    </tr>
    {{/each}}
</script>

<script>
var url=configSet+"/api/userinfo/getinfolist?pagesize="+pageSize+"&pagenum=1&inquire";
//获取小区列表
var urlEle1all=configSet+"/api/file/districtinfolist?pagesize=999&pagenum=1&inquire=";
    $(function () {
      getTableData(url);
    })

	var UserId;
	//弹出重置密码的弹层
	function resetFun(obj,UserDisId) {
      $("#userInfoEditModel").modal("show");
      UserId=$(obj).parent().attr("data-UserId");
      var UserName=$(obj).parent().attr("data-name");
      var UserPhone =$(obj).parent().attr("data-phone");


      var urlEle1=configSet+"/api/login/getuserinfobyusername?userName="+UserName;
      getData(urlEle1,function (Obj) {
        Obj = JSON.parse(Obj);
        var selects = $("#communitySelect");
        editInput(Obj, selects, "2");
      });
	  $("#userName").html(UserName);
	  $("#userPhone").html(UserPhone);
	  $("#prompts1").html("");
	  $("#addFormPass")[0].reset();
	}
	//修改密码提交事件
	function sureUserBtn() {
      $("#prompts1").html("");
		  var formse=$("#addFormPass").serializeObject();
		  formse.UserName =$("#userName").html();
		  formse.UserUpdater=loginer;
            url4=configSet+"/api/userinfo/updateuserinfo";
			postData(url4,JSON.stringify(formse),function (data) {
              getTableData(url);
			})
      $("#userInfoEditModel").modal("hide");
	}

	/*数据获取*/
	function getTableData(url) {
      getData(url,function (Obj,pageNum) {  
        tableData(Obj,$('#tbody'), $("#tbodyInfo"));
        pageFun(pageNum);
      })
    }


	/*添加数据*/
	$("#addModelShow").click(function () {
      $("#communitys option[value='']").attr("selected","selected").siblings().removeAttr("selected");
		//清空提示框
		$("#prompts").html("");
        $('#addUserModel').modal('show');
        $("#addForm")[0].reset();


    })
	//获取小区列表
	Option(urlEle1all,$("#communitySelect"),"DisName","DisId");
	Option(urlEle1all,$("#communitys"),"DisName","DisId");

     //模态框的确定点击事件。
      var phoneNum = $("input[name='UserPhone']");
     $("#addModelBtn").click(function () {
     	var bol=required(addForm.length,addForm);
     	if(bol){
     		if(!phoneNumber.test(phoneNum.val())){
				$("#prompts").html("手机号格式错误!");
				phoneNum.focus();
				return false;
			}
     		$("#prompts").html("");
     		var postdata =configSet+ "/api/userinfo/insertintouserinfo";
		    var formse = $("#addForm").serializeObject();
		    formse.UserCreater = loginer;
		    postData(postdata, JSON.stringify(formse), function () {
			    getTableData(url);
		    });
		    $('#addUserModel').modal('hide');
     	}  
	})

    //删除操作
    function deleteIconFun(obj) {
	   UserId=$(obj).parent().attr("data-UserId");
		$("#conformModel").modal();
    }
    //模态框的删除点击事件。
	$(".comformSureBtn").click(function () {
	  var url1=configSet+"/api/userinfo/deleteresult?userId="+UserId+"&UserUpdater="+loginer;
	  getData(url1,function (Obj) {
      	if (Obj === "删除失败！") {
      		alert(Obj)
      	}
		getTableData(url);
	  })
	  $("#conformModel").modal("hide");
	})

	//重置点击事件。
	function resetFun1(){
	  var url2=configSet+"/api/userinfo/resetpwd?userId="+UserId+"&UserUpdater="+loginer;
	  console.log(UserId);
	  getData(url2,function (Obj) {
      	if (Obj === "重置密码失败！") {
      		alert(Obj)
      	}
		getTableData(url);
        $("#userInfoEditModel").modal("hide");
	  })
	}


//搜索
	var searchValue = '';
	$(".searchBtn").on("click",function(){
		searchValue = $.trim($(".search-wrap input").val());
		var searchUrl=configSet+"/api/userinfo/getinfolist?pagesize="+pageSize+"&pagenum=1&inquire="+searchValue;
		getData(searchUrl,function (Obj,pageNum) {  
            tableData(Obj,$('#tbody'), $("#tbodyInfo"));
            pageFun(pageNum);
        })
	})
	
	//分页
	$(".pagination").on("click","a",function () {
      $(this).parent().addClass("actived").siblings().removeClass("actived");
	  var pagenum=parseInt($(this).text());
	  var newurl=configSet+"/api/userinfo/getinfolist?pagesize="+pageSize+"&pagenum="+pagenum+"&inquire="+searchValue;
	  console.log(newurl)
	  getData(newurl,function (Obj) {
	    var myTemplate = Handlebars.compile($("#tbodyInfo").html());
	    $('#tbody').html(myTemplate(JSON.parse(Obj)));
	  })
	})
</script>
